<div ng-if="!narrowdir.ifEmpty()">
<table class="table">
    <tr><th>Short Name</th><th>Name</th><th>Description</th><th>Narrow It!</th></tr>
    <tr ng-repeat="item in narrowdir.found">
        <td>
            {{item.short_name}} </td><td>
        {{item.name}} </td><td> {{item.description}}
        </td>
        <td colspan = "2">
        <button class="btn btn-primary" ng-click="narrowdir.onRemove({index:$index});">
            Narrow It Down For Me!</button>
        </td>
    </tr>
</table>
</div>
<div ng-if="narrowdir.ifEmpty()">
    <br>
    <h2>Nothing found</h2>
</div>